.dateLine {
  display: flex;
  flex-wrap: wrap;
  gap: 1dvh;
  margin-bottom: 1dvh;
}

.description {
  background: transparent;
  overflow: hidden;
  height: 1.5em;
  min-width: 150px;
  flex-grow: 1;
  transition: all 0.2s ease;
  border: none;
  border-bottom: 1px solid var(--text-color);
  padding: 0 5px;
  color: var(--text-color);
  font: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0;
}

.description:focus {
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.dateLine .deleteBtn {
  width: auto;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateLine .deleteBtn:hover {
  transform: none;
}

.dateLine .rangeInput:global(.flatpickr-input) {
  max-width: 200px;
}

.colorInput {
  -webkit-appearance: none;
  border: 1px solid var(--text-color);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

/* Для Chrome, Safari, Edge */
.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}
.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* Для Firefox */
.colorInput::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.colorInputRange {
  border-radius: 0;
}

.colorInputRange::-webkit-color-swatch-wrapper {
  border-radius: 0;
}
.colorInputRange::-webkit-color-swatch {
  border-radius: 0;
}

/* Для Firefox */
.colorInputRange::-moz-color-swatch {
  border-radius: 0;
}
