.header {
  display: flex;
  justify-content: start;
  padding: 0.5em 1em;
  align-items: end;
  gap: 0.5em;
}

.title {
  font-size: 2em;
  margin-right: 1em;
}

.zoomButton {
  width: 40px;
  font-size: 1.5em;
}

.mapContainer {
  position: relative;
  margin-top: -3px;
  max-width: 1000px;
  margin: 0 auto;
}

.mapContainer::before {
  content: "";
  position: absolute;
  width: 6px;
  background: #c9a66b;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  z-index: 10;
}

.start {
  margin: 0 0 -20px -120px;
  text-align: center;
}

.end {
  margin: -20px 0 0 -200px;
  text-align: center;
}

.icon {
  position: relative;
  display: block;
  z-index: 10;
}

.flagIcon {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  z-index: 20;
}

.hereIcon {
  width: 30px;
  height: 30px;
  margin: -10px auto 0;
}
