.mapBlock {
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: auto;
}

.mapContainer {
  position: relative;
}

.mapContainer::before {
  content: "";
  position: absolute;
  width: 6px;
  background: #c9a66b;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.timelineItem {
  width: 100%;
}

.timelinePoint {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  border-radius: 50%;
  border: solid 1px black;
  z-index: 10;
  background-color: var(--accent-color);
}

.timelineContent {
  position: absolute;
  right: calc(50% - 30px);
  width: 40%;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateX(100%) translateY(-50%);
}

.leaderLine {
  position: absolute;
  left: 50%;
  width: 30px;
}

.periodBlock {
  position: absolute;
  right: 50%;
  width: 40%;
  z-index: -1;
}

.timelinePeriod {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -10;
  border-radius: 20px 0 0 20px;
  border: 1px solid black;
}
