.periodBlock {
  position: absolute;
  right: 50%;
  padding-right: 15vw;
}

.timelinePeriod {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 20px 0 0 20px;
  border: 1px solid black;
}

.tooltip {
  position: absolute;
  bottom: 50%;
  right: 110%;
  background: var(--light-accent-color);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  z-index: 20;
}

.timelinePeriod:hover .tooltip {
  opacity: 1;
}
