.timelineItem {
  width: 100%;
}

.timelinePoint {
  width: var(--point-size);
  height: var(--point-size);
  position: absolute;
  left: 50%;
  margin-left: calc(var(--point-size) / 2 * -1);
  margin-top: calc(var(--point-size) / 2 * -1);
  border-radius: 50%;
  border: solid 1px black;
  z-index: 20;
  background-color: var(--accent-color);
}

.timelineContent {
  position: absolute;
  right: calc(50% - 30px);
  max-width: 40%;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  transform: translateX(100%) translateY(-50%);
  background-color: var(--pale-gradient-color);
  word-break: break-word;
}

.timelineContent:hover {
  z-index: 25;
}

.leaderLine {
  position: absolute;
  left: 50%;
  width: 30px;
}

.tooltip {
  position: absolute;
  bottom: 90%;
  left: -550%;
  background: var(--light-accent-color);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.timelinePoint:hover .tooltip {
  opacity: 1;
}

.timelinePoint:hover ~ .timelineContent {
  z-index: 100;
}
