.data-panel {
  padding: 24px;
}

.data-panel .ant-typography {
  color: aliceblue;
}

.date-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.react-datepicker-wrapper {
  flex-grow: 1;
}

.datepicker-input {
  height: 30px;
  width: 150px;
  padding-right: 0;
}

.button-container {
  display: flex;
  gap: 5px;
}

.button-container button {
  height: 32px;
}
