.data-panel {
  padding: 24px;
  background: var(--accent-color);
  color: var(--main-color);
  width: var(--sidebar-width);
}

.card {
  border-bottom: dashed 2px var(--light-accent-color);
  border-top: dashed 2px var(--light-accent-color);
  margin-bottom: 2vh;
  padding: 2vh 0;
}

.subtitle {
  margin-bottom: 2vh;
}

.data-panel .flatpickr-input {
  height: 30px;
  max-width: 90px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
}

.data-panel button {
  width: 90px;
  border-radius: 10px;
}
