.data-panel {
  padding: 24px 24px 0;
  height: 93dvh;
  background: var(--accent-color);
  overflow-y: auto;
}

.card {
  margin-bottom: 2vh;
}

.subtitle {
  margin-bottom: 2vh;
}

.data-panel .flatpickr-input {
  height: 30px;
  max-width: 90px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
}

.data-panel button {
  width: 90px;
  border-radius: 10px;
}

input {
  background-color: var(--text-color);
}
