.welcomeBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  max-width: 700px;
  margin: auto;
}

.title,
.subtitle {
  margin-bottom: 5dvh;
}

.subtitle {
  text-align: center;
  font-size: clamp(16px, 4vw, 25px);
}

.datepickerWrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.flatpickrInput {
  width: 100%;
  padding-left: 10px;
  height: 40px;
  font-size: 16px;
}

.button {
  position: absolute;
  right: 5px;
  top: 50%;
  height: 30px;
  transform: translateY(-50%);
  height: 30px;
  width: 40px;
  padding: 0 10px;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: 14px;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: var(--text-color);
  transform: translateY(-50%);
}

h2.react-datepicker__current-month {
  margin-bottom: 5px;
}
