.layout {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  position: relative;
  min-width: var(--sidebar-width);
  width: var(--sidebar-width);
  margin-left: 0;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    var(--pale-gradient-color),
    var(--light-gradient-color)
  );
  transition: 0.3s linear;
  min-height: 0;
  box-shadow: var(--shadow);
}

.sidebar > * {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.closedSidebar .sidebar > * {
  opacity: 0;
  pointer-events: none;
}

.collapse-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 7dvh;
  border-top: 1px solid var(--light-accent-color);
  border-radius: 0;
  background: var(--pale-gradient-color);

  transition: 0.3s linear;
  text-align: right;
}

.collapse-button:hover {
  transform: none;
  box-shadow: none;
}

.closedSidebar .sidebar,
.closedSidebar .collapse-button {
  margin-left: calc(var(--sidebar-width) * -1 + 8vw);
}

.chevron {
  transform: rotate(0turn);
  transition: transform 0.3s linear;
  stroke: var(--light-accent-color);
}

.closedSidebar .chevron {
  transform: rotate(0.5turn);
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

@media (max-width: 740px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 93vh;
    flex-shrink: 0;
  }

  .collapse-button {
    position: static;
    width: 100%;
    text-align: center;
  }

  .closedSidebar .sidebar {
    margin-top: -93vh;
    margin-left: 0;
  }

  .closedSidebar .collapse-button {
    margin-left: 0;
  }

  .main {
    display: none;
  }

  .closedSidebar .main {
    display: block;
  }

  .chevron {
    transform: rotate(0.25turn);
  }

  .closedSidebar .chevron {
    transform: rotate(0.75turn);
  }
}

@media (max-width: 1200px) {
  :root {
    --sidebar-width: 50vw;
  }
}
