.layout {
  height: 100dvh;
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  position: relative;
  min-width: var(--sidebar-width);
  width: var(--sidebar-width);
  margin-left: 0;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    var(--pale-gradient-color),
    var(--light-gradient-color)
  );
  transition: 0.3s linear;
  min-height: 0;
  box-shadow: var(--shadow);
}

.sidebar > * {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.closedSidebar .sidebar > * {
  opacity: 0;
  pointer-events: none;
}

.collapse-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 7dvh;
  border-top: 1px solid var(--light-accent-color);
  border-radius: 0;
  /* background: var(--pale-gradient-color); */
  transition: 0.3s linear;
  text-align: right;
  flex: 0 0 auto;
}

.collapse-button:hover {
  transform: none;
  box-shadow: none;
}

.closedSidebar .sidebar,
.closedSidebar .collapse-button {
  margin-left: calc(var(--sidebar-width) * -1 + 8vw);
}

.chevron {
  transform: rotate(0turn);
  transition: transform 0.3s linear;
  stroke: var(--light-accent-color);
}

.closedSidebar .chevron {
  transform: rotate(0.5turn);
}

.main {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  background: radial-gradient(
      at 97.51326716951645% 20.18757003274809%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 1) 0%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 0) 100%
    ),
    radial-gradient(
      at 97.2568933510572% 13.975951231318584%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 1) 0%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 0) 100%
    ),
    radial-gradient(
      at 78.31328816170819% 57.807233719333176%,
      hsla(94.61538461538461, 43.33333333333333%, 88.23529411764706%, 1) 0%,
      hsla(94.61538461538461, 43.33333333333333%, 88.23529411764706%, 0) 100%
    ),
    radial-gradient(
      at 30.862189498440664% 80.7264258694912%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 1) 0%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 0) 100%
    ),
    radial-gradient(
      at 6.56401386511588% 40.63713184972884%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 1) 0%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 0) 100%
    ),
    radial-gradient(
      at 4.896850133212139% 55.26833872877012%,
      hsla(94.61538461538461, 43.33333333333333%, 88.23529411764706%, 1) 0%,
      hsla(94.61538461538461, 43.33333333333333%, 88.23529411764706%, 0) 100%
    ),
    radial-gradient(
      at 15.811969865835096% 90.75717041102337%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 1) 0%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 0) 100%
    ),
    radial-gradient(
      at 64.20017748236884% 77.02232893017147%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 1) 0%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 0) 100%
    ),
    radial-gradient(
      at 67.4383124153013% 30.479675382742066%,
      hsla(94.61538461538461, 43.33333333333333%, 88.23529411764706%, 1) 0%,
      hsla(94.61538461538461, 43.33333333333333%, 88.23529411764706%, 0) 100%
    ),
    radial-gradient(
      at 24.492328040576115% 42.3201908605238%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 1) 0%,
      hsla(91.55172413793103, 56.862745098039206%, 60%, 0) 100%
    ),
    radial-gradient(
      at 76.26818459420637% 10.591994550807781%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 1) 0%,
      hsla(91.76470588235293, 52.57731958762884%, 80.98039215686275%, 0) 100%
    );
}

@media (max-width: 740px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 93dvh;
    flex-shrink: 0;
  }

  .collapse-button {
    position: static;
    width: 100%;
    text-align: center;
  }

  .collapse-button:disabled {
    display: none;
  }

  .closedSidebar .sidebar {
    margin-top: -93dvh;
    margin-left: 0;
  }

  .closedSidebar .collapse-button {
    margin-left: 0;
  }

  .main {
    display: none;
  }

  .closedSidebar .main {
    display: block;
  }

  .chevron {
    transform: rotate(0.25turn);
  }

  .closedSidebar .chevron {
    transform: rotate(0.75turn);
  }
}

@media (max-width: 1200px) {
  :root {
    --sidebar-width: 50vw;
  }
}
