:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #fefcf7;
  --accent-color: #3e7b36;
  --text-color: #2d5a27;
  --light-accent-color: #52a845;
  --pale-gradient-color: #e8f5e3;
  --light-gradient-color: #f5f7f4;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  --sidebar-width: 40vw;
  --font-serif: "Playfair Display", serif;
  --border-radius: 4px;
  --point-size: 14px;

  color: var(--text-color);
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  margin: 0 0 2dvh;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

input {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--light-accent-color);
}

input,
button {
  height: 30px;
  width: 90px;
  padding: 0 10px;
}

button {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  transition: all 0.3s ease;
  background: linear-gradient(
    135deg,
    var(--light-accent-color),
    var(--accent-color)
  );
  color: var(--main-color);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);
  }
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: var(--accent-color) !important;
  border: none !important;
}

.card {
  margin: 2dvh 0;
  padding: 2dvh;
  background: var(--main-color);
  border-radius: 12px;
  border-left: 4px solid var(--light-accent-color);
}
