:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #f0f0ed;
  --accent-color: #2e4d2fd4;
  --text-color: #293d31;
  --light-accent-color: #c6ff93;

  color: var(--text-color);
  background-color: var(--main-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}
